menuconfig MODULES_FLKTR2L
	bool "flktr2l"
	default n
	---help---
		Enable support for flktr2l

menuconfig USER_FLKTR2L
	bool "flktr2l running as userspace module"
	default n
	depends on MODULES_FLKTR2L
	---help---
		Put flktr2l in userspace memory

